<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsForms_packing_line.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WindowsForms_packing_line.Properties.Settings>
      <setting name="dbIPServer" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="InnerAMaster" serializeAs="String">
        <value />
      </setting>
      <setting name="InnerBMaster" serializeAs="String">
        <value />
      </setting>
      <setting name="CartonMaster" serializeAs="String">
        <value />
      </setting>
      <setting name="ExportMaster" serializeAs="String">
        <value />
      </setting>
      <setting name="Port1" serializeAs="String">
        <value />
      </setting>
      <setting name="Port2" serializeAs="String">
        <value />
      </setting>
      <setting name="Port3" serializeAs="String">
        <value />
      </setting>
      <setting name="Port4" serializeAs="String">
        <value />
      </setting>
      <setting name="Baudrate1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Baudrate2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Baudrate3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Baudrate4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Paritybit1" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="Paritybit2" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="Paritybit3" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="Paritybit4" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="Datasize1" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Datasize2" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Datasize3" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Datasize4" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Stopbits1" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="Stopbits2" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="Stopbits3" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="Stopbits4" serializeAs="String">
        <value>One</value>
      </setting>
    </WindowsForms_packing_line.Properties.Settings>
  </userSettings>
</configuration>